<%
    var className = '';
    if( is_post() ) {
        className = 'post-layout';
    }
%>
<footer class="footer <%- className %>">
    <p><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>；Copyright © <a href="<%= theme.url %>" target="_blank">卫思伍</a></p>
</footer>
